node_modules/
.env
.env.development
.env.production
server/storage/*
!server/storage/**/.gitkeep
server/logs/*
!server/logs/.gitkeep
database/backups/*.sql
database/backups/*.sql.gz
dist/
build/
.DS_Store
